
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Varela+Round&display=swap');



 body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
} 

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{

    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
    
}

nav ul li{
    padding: 0 12px;
}

nav ul img{
    padding: 0 8px;
}
.brand img{
    width: 44px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}